name: push

on:
  push:
    branches:
      - main

env:
  CI: true
  APP_IMAGE_NAME: algins/devops-for-developers-project-74
  COLOR_MAP: '{ success: "#008000", failure: "#800000" }'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Prepare environment
        run: make prepare-env

      - name: Run tests
        run: make ci

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile.production
          push: true
          tags: |
            ${{ env.APP_IMAGE_NAME }}:latest
